<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Discovered Weekly">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Startseite</title>
<link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}" media="screen">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"url": "index.html"
}</script>
    <meta property="og:title" content="Discovered Weekly">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
  </head>
  <body class="background">
    <section>
      <div>
        <h1 class="title">Discovered Weekly</h1>
        <h4 class="subtitle">Log in with your Spotify account to automatically save your <span style="font-style: italic;">"Discover Weekly"&nbsp;<span style="font-style: normal;"> into a new playlist every week.</span>
          </span>
          <br>Never lose those precious songs again.<br>
        </h4>
      </div>
    </section>
    <section style="margin-top: 50pt" class="section" id="sec-982c">
      <div>
        <a href="{{url_for('login')}}" class="button round_button gradient">SAVE MY SONGS</a>
      </div>
    </section>
    
    
    <footer class="footer"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="small_text">Discovered Weekly. A completely free service to make sure you don't lose Spotify's best suggestions.<br>
          <br>Developed by Björn Plüster
        </p>
      </div></footer>
  </body>
</html>