.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.title {
  text-align: center;
  font-size: xx-large;
  color: white;
}

.subtitle {
  text-align: center;
  font-size: large;
  color: white;
}

.small_text {

}

.gradient {
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 80%, rgba(252,176,69,1) 100%);
}


.round_button {
  border-radius: 25px;
  padding: 20px;
  margin: 0 auto;
}

.button {
  color: white;
  text-decoration: none;
}

.button:hover {
  text-decoration: underline;
}

.background {
  background-color: rgb(121, 121, 121);
}