.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.title {

}

.subtitle {

}

.small_text {

}

.gradient {
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 80%, rgba(252,176,69,1) 100%);
}


.round_button {
  border-radius: 25px;
  padding: 20px;
}

.background {
  background-color: rgb(51, 51, 51);
}